html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

* {
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */
}

.left-column-1 {
  background-color: #2A2B2C;
}

.left-column-2 {
  margin-left: 40px;
  padding-right: 0;
  color: white;
  padding-bottom: 100%;
}

.right-col {
  padding: 0;
}

#title {
  font-family: "PlayfairDisplay-BoldItalic", "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: 3px;
  margin-top: 40px;
  line-height: 50px;
  margin-bottom: 20px;
}

#subheading {
  font-weight: bold;
}

hr {
  background-color: white;
  width: 80%;
  margin-left: 0;
  margin-top: 10px;
}

.gray {
  color: #8C8C8C;
}

.legend {
  display: flex;
  flex-direction: column;
}

.legend-category {
  display: flex;
  flex-direction: row;
  margin-bottom: -5px;
}

.category-title {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-right: 10px;
}

.square {
  height: 15px;
  width: 15px;
  transition: 0.2s all;
}
.square:hover {
  opacity: 0.8;
  cursor: pointer;
}

.architecture {
  background-color: #ffe6eb;
}

.arts {
  background-color: #ffccd7;
}

.business {
  background-color: #ffb3c3;
}

.community {
  background-color: #ff99af;
}

.computer {
  background-color: #ff809b;
}

.education {
  background-color: #ff6687;
}

.healthcare {
  background-color: #ff4d73;
}

.legal {
  background-color: #ff335f;
}

.life {
  background-color: #ff1a4b;
}

.management {
  background-color: #ff0037;
}

.construction {
  background-color: #d9ffcc;
}

.farming {
  background-color: #b3ff99;
}

.installation {
  background-color: #66ff33;
}

.production {
  background-color: #ffffb3;
}

.transportation {
  background-color: #ffff63;
}

.office {
  background-color: #99e6ff;
}

.sales {
  background-color: #61d7ff;
}

.building {
  background-color: #e699ff;
}

.food {
  background-color: #df80ff;
}

.personal {
  background-color: #d761ff;
}

.protective {
  background-color: #d24dff;
}

.healthcare2 {
  background-color: #cc33ff;
}

#chart {
  margin-left: 30px;
}

.select-title {
  margin-bottom: 0px;
  margin-top: 10px;
  font-weight: bold;
}

select {
  display: inline;
  border: 0;
  width: auto;
  margin-bottom: 10px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
  color: white;
  font-weight: 100;
}
select option {
  color: white;
  border: 0;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.tooltip-w3 {
  color: white;
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip-w3 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px 15px;
  font-size: 12px;
  line-height: 15px;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  box-shadow: 0.5px 0.5px 2px #505050;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-w3:hover .tooltiptext {
  visibility: visible;
}

.reset-zoom:hover {
  cursor: pointer;
}

.clickable {
  transition: all 0.2s;
}
.clickable:hover {
  opacity: 0.6;
  cursor: pointer;
}